.img-thumbnail img{
	width: 100%;
}

.img-thumbnail{
	padding: 0;
}

.btn-info{
    background-color: #A1AABB;
    border: none;
}
/* .btn-info:hover {
    background-color: rgba(0,0,0,.6);
    border: none;
} */

.delete-form{
    display: inline;
}